.mainDiv {
    font-size: x-large;
    color: white;
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #00d0ff50,#cff6ff50,#22718350,#96dded50,#48656c50,#ffffff50,#00d0ff50,#78c8da50);
    border-radius: 10px;
    padding: 80px 40px;
}

label {
    margin-top: 20px;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
}

button {
    width: 100px;
    height: 30px;
    border: 3px solid skyblue;
    border-radius: 20px;
    margin-top: 50px;
    color: #fff;
    text-shadow: 0 0 2px black;
    box-shadow: 0 0 1px 0px white;
    background: radial-gradient( #00d0ff44,#1c7a9044,#28b7d844,#8feaff44,#116f8b44,#bceeff44,#00d0ff44,#78c8da44);
    background-position: 84%;
    background-size: 200% 300%;
    transition: all 1s;
}
button:hover{
    /* transition: ; */
    border: 3px solid aqua;
    text-shadow: 0 0 2px rgb(126, 126, 126);
    box-shadow: 0 0 5px 2px white;
    background: radial-gradient( #00d0ff77,#1c7a9077,#28b7d877,#8feaff77,#116f8b77,#bceeff77,#00d0ff77,#78c8da77);
    background-position: 90%;
    background-size: 300% 400%;
}

.error {
    font-size: small;
    font-weight: bold;
    color:#bb0000;
    text-shadow: 0 0 3px #ff7878;
    line-height: 0px;
}

#errorDiv {
    display: none;
    position: fixed;
    top: 100px;
    padding: 20px 55px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    color: #bb0000;
    text-shadow: 0 0 3px #ff7878;
    line-height: 0px;
    background-color: #ff787899;
}